
<body>
    <div class="blackBar"> </div>
<h1 class="site-head">
    <div class="sitehead1 center">
    </div>
</h1>
<section>
    <div class="contenedor center">
        <div class="contendorFormulario center">
            <h2 class="textCenter">Log In</h2>
            <form id="logIn" class="LogIn center">
                <div class="input center">
                    <span>usuario</span>
                    <input type="text" name="user" id="userDat">
                </div>
                <div class="input">
                    <span>password</span>
                    <input type="password" name="password" id="passworddat">
                </div>
                <div class="input"></div>
                <div class="input">
                </div>
                <div class="contenedorInfo"> 
                    <p class="center" style="width: 30%;">No tienes cuenta?</p>
                    <a href="../Front/register.html"class="center" style="width: 30%;">registrate aqui</a>
                </div>
            </form>

        </div>
    </div>
    </section>
    <div>
        <footer>
            <div class="contenedor" style="display: inline-block; width: 100%; align-items: baseline;">
            <div style="width: 50%;">
                <p>test</p>
            </div>
            <div style="width: 50%;">
                <p>test</p>
            </div>
            </div>
        </footer>
    </div>
    <div class="blackBar"> </div>
    <button (click)="registrar()" class="Buttond center"> log in</button>

</body>

