<mat-sidenav-container>
    <mat-sidenav #snav mode="push">
        <mat-toolbar>
            <span><h1>menu</h1></span>
        </mat-toolbar>
        <mat-nav-list style="padding: 10px; width:250px;">
            <a mat-list-item routerLink="/home"style="font-size: 30px;"> Home</a>
            <a mat-list-item routerLink="." style="font-size: 30px;"> Cartelera</a>
            <a mat-list-item routerLink="/LogIn" style="font-size: 30px;"> Ingresar</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'background-image': getUrl(),     
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'background-size': '100% 100%'}"  >
        <mat-toolbar style="background-color: rgb(44, 44, 58);">
            <button mat-icon-button (click)="snav.toggle()" style="margin: 5px; color: white;"> <mat-icon>menu</mat-icon></button>
            <span class="Spacer">             </span>
            <span><h1 style="margin: 1rem; color:white">Menu</h1></span>
        </mat-toolbar>
        <router-outlet ></router-outlet>

      </mat-sidenav-content>

    </mat-sidenav-container> 