
    <section [ngStyle]="{'background-image': getUrl(),     
    'background-position': 'center',
    'background-repeat': 'no-repeat', 
    'background-size': '100% auto'}" class="MainSection" >
    <mat-card class="titlecard"> 
        <mat-card-title style="  text-align: left;
        font-size: 50px; width: auto; height: 100%; white-space: normal;"><p>Lo mejor del cine lo encuentras en
        <br>Cinemas CideNet!</p>

        </mat-card-title>
    </mat-card>
    </section>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div >
                        <h3>Contacto</h3>
                        <ul>
                            <li>Desarrollado por: John David Rodriguez David</li>
                            <li>john.david7800@gmail.com</li>
                            <li>Envigado, Colombia</li>
                        </ul>
                    </div>
                    <div >
                        <h3>Cidenet</h3>
                        <ul>
                            <li><a href="https://www.cidenet.com.co/">Pagina principal</a></li>
                            <li><a href="https://www.cidenet.com.co/nosotros/">Nosotros</a></li>
                            <li><a href="https://www.cidenet.com.co/contacto/">Contacto</a></li>
                        </ul>
                    </div>
                    <div >
                        <h3>Navegacion</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Cartelera</a></li>
                            <li><a href="#">Ingreso</a></li>
                        </ul>
                    </div>
                    <div ><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Cidenet © 2021</p>
                    </div>
                </div>
            </div>
        </footer> 

