.movContainer{
    white-space: normal;
    padding: 5px;
    color: black;
    align-items: center;
    width:100%;
    height: fit-content;
    justify-content: center;
    text-align: center;

}
@media (max-width:767px) {
    .movContainer{ 
        white-space: normal;
        padding: 5px;
        color: black;
        align-items: center;
        height: fit-content;
        justify-content: center;
        text-align: center;
        width: auto;
        margin: 5px;
    }
    
}
.movContent{
    width: auto;
    padding: 5px;
    white-space: normal;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.movHead {
    white-space: normal;
    padding: 2px;
    color: black;
    align-items: center;
    text-align: center;
    width: auto;
}

.movInfoSection{
    white-space: normal;
    padding: 2px;
    text-align: center;
    color:black ;
}
