<mat-card class="movContainer">
    <mat-card-content class="movContent">
        <mat-card-title class="movHead">{{title}}</mat-card-title>
        <div style="justify-content: center; align-items: center;">
            <img style="height: 200px; width: 50%;">
        </div>
        <div class="movInfoSection">
            <p id="sumary" style="width: auto; text-align: justify; font-size: 10px; white-space: normal;">{{sumary}}</p>
            <p id="lenght">{{lenght}}</p>
            <p id="gendre">{{gendre}}</p>
            <p id="Formats"> {{Formats}}</p>
        </div>
        <button>Reservar</button>

    </mat-card-content>

    
    

</mat-card>
