.example-spacer {
    flex: 1 1 auto;
  }

.Banner{
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 200px;
  background-size:  100% auto;
}
.Banner>mat-card-title>h1{
  color: white;
  font-size: 100px;
  text-align: left;
 padding: 20px;

}
